.main ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    background: #1bc2a2;
  }
   li {
    display: block;
    position: relative;
    float: left;
    background: #1bc2a2;
  }
  /* This hides the dropdowns */
  li ul {
    display: none;
  }
  ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }
  ul li a:hover {
    background: #2c3e50;
  }
  /* Display the dropdown */
  li:hover > ul {
    display: block; 
    position: absolute;
  }
  /* Remove float from dropdown lists */
  li:hover li {
      float: none;
  }
  li:hover a {
    background: #1bc2a2;
  }
  li:hover li a:hover {
    background: #2c3e50;
  }
  .main-navigation li ul li {
    border-top: 0;
  }
  /* Displays second level dropdowns to the right of the first level dropdown */
  ul ul ul {
    left: 100%;
    top: 0; 
  }
  
  
  /* Simple clearfix */
  
  ul:before,
  ul:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  ul:after {
      clear: both;
  }
  .img{
    display: block;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  button{
    
    background-color: orange;

  
  }
  button:hover{
   
    background-color: antiquewhite;
  }
  
   ol .footer1{
      background-color: #eee; /* Grey background color */
      color: black; /* Black text color */
      display: block; /* Make the links appear below each other */
      padding: 12px; /* Add some padding */
      text-decoration: none; /* Remove underline from links */
    }
    div .footer_3{
      background-color: antiquewhite;
      width: 100vw;
      height: 10vh;
     
      display:flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    * {
      box-sizing: border-box;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .footer{
      background-color: lightpink;
    }
    .img1{
      width: 10vw;
      height: 30vh;
    }
    .img2{
      width: 10vw;
      height: 30vh;
    
    }
    .img3{
      width: 10vw;
      height: 30vh;
    }
    
    
   
  